<h1>購入商品一覧</h1>
<% if user_signed_in? %>
  <% @items.each do |item| %>
    <!-- 三項演算子に修正 " -->
    <p><%= item.name %>：<%= item.price %>：<%= item.user.nickname.present? ? "購入者　#{item.user.nickname}" : "会員No.#{item.user.id}" %></p>
  <% end %>
<% else %>
  <p>ログインしてください</p>
<% end %>
